html, body {
  font-family:      'Open Sans', sans-serif;
  margin:           0;
  padding:          0;
  font-size:        0.95em;
}
h1, h2, h3, h4, h5 {
  text-transform:   uppercase;
  letter-spacing:   0.25em;
}

@keyframes blink {
    0% {
        opacity: 0.6;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0.6;
    }
}
.blink-img {
    animation: blink 2s;
    animation-iteration-count: infinite;
}